<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation System Computer PC for suitable usage</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('navbar/nav') %>
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-12">
                <form action="/fromWeb" method="post">
                    <div class="card">
                        <div class="card-body"><h1>แบบฟอร์มประเมินเว็บไซต์</h1></div>
                        <div class="crad-body p-3">
                            <div class="">
                                <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>1. สีสันและฟอนต์ที่ใช้ในเว็บไซต์อ่านง่ายและสบายตา</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer01" id="answer01" value="1" required>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer01" id="answer01" value="2" required>
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer01" id="answer01" value="3" required>
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer01" id="answer01" value="4" required>
                                <label class="form-check-label" for="inlineRadio3">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer01" id="answer01" value="5" required>
                                <label class="form-check-label" for="inlineRadio3">5</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>2. ความง่ายต่อการใช้งาน</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer02" id="answer02" value="1" required>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer02" id="answer02" value="2" required>
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer02" id="answer02" value="3" required>
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer02" id="answer02" value="4" required>
                                <label class="form-check-label" for="inlineRadio3">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer02" id="answer02" value="5" required>
                                <label class="form-check-label" for="inlineRadio3">5</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>3. ข้อมูลที่แสดงบนเว็บไซต์มีความถูกต้องและครบถ้วน</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer03" id="answer03" value="1" required>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer03" id="answer03" value="2" required>
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer03" id="answer03" value="3" required>
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer03" id="answer03" value="4" required>
                                <label class="form-check-label" for="inlineRadio3">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer03" id="answer03" value="5" required>
                                <label class="form-check-label" for="inlineRadio3">5</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>4. ฟีเจอร์ต่าง ๆ ของเว็บไซต์ตอบโจทย์ความต้องการ</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer04" id="answer04" value="1" required>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer04" id="answer04" value="2" required>
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer04" id="answer04" value="3" required>
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer04" id="answer04" value="4" required>
                                <label class="form-check-label" for="inlineRadio3">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer04" id="answer04" value="5" required>
                                <label class="form-check-label" for="inlineRadio3">5</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>5. ความพึงพอใจโดยรวมต่อเว็บไซต์ของเรา</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer05" id="answer05" value="1" required>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer05" id="answer05" value="2" required>
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer05" id="answer05" value="3" required>
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer05" id="answer05" value="4" required>
                                <label class="form-check-label" for="inlineRadio3">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input border border-2 border-dark" type="radio" name="answer05" id="answer05" value="5" required>
                                <label class="form-check-label" for="inlineRadio3">5</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">ประเมินเว็บไซต์</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="successModalLabel">สำเร็จ!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ทำแบบประเมินสำเร็จแล้ว
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="closeModal">ตกลง</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal แจ้งเตือนเมื่ออีเมลซ้ำ -->
    <div class="modal fade" id="emailErrorModal" tabindex="-1" aria-labelledby="emailErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="emailErrorModalLabel">ข้อผิดพลาด</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                อีเมลนี้ถูกใช้ไปแล้ว กรุณาใช้อีเมลอื่น
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="closeEmailModal">ตกลง</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const urlParams = new URLSearchParams(window.location.search);
      
          // ตรวจสอบ success
          if (urlParams.get("success") === "true") {
            var successModal = new bootstrap.Modal(document.getElementById('successModal'));
            successModal.show();
            document.getElementById("closeModal").addEventListener("click", function () {
              window.history.replaceState({}, document.title, window.location.pathname);
            });
          }
      
          // ตรวจสอบ error กรณีอีเมลซ้ำ
          if (urlParams.get("error") === "email_duplicate") {
            var emailErrorModal = new bootstrap.Modal(document.getElementById('emailErrorModal'));
            emailErrorModal.show();
            document.getElementById("closeEmailModal").addEventListener("click", function () {
              window.history.replaceState({}, document.title, window.location.pathname);
            });
          }
        });
    </script>
      
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
