<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation System Computer PC for suitable usage</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="bar_home">
        <a href="/">ระบบแนะนำการเลือกคอมพิวเตอร์พีซีให้เหมาะกับการใช้งาน</a>
        <ul>
            <a href="/"><li>หน้าแรก</li></a>
            <a href="/com_list"><li>รายการคอมพิวเตอร์</li></a>
            <a href="/com_list_brand"><li>รายการคอมพิวเตอร์แบรนด์</li></a>
            <a href="/companent"><li>ส่วนประกอบคอมพิวเตอร์</li></a>
        </ul>
    </div>

        <div class="paglogin">
            <center><h1>Admin Login</h1></center>
            
            <form action="/Adminlogin" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required><br>
                
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required><br>
                <center><button type="submit">Login</button></center>
                
                
            </form>
            <br>
            <center>Don't have an account? <a href="/register">Sign up </a></center>
            
            
        </div>

</body>
</html>